
.Nav {
    margin:0px;
    
}
.Nav ol{
    list-style:upper-roman;
    list-style-position: inside;
    font-size:medium;
    
}
.controlButton {

    width:100px;
    background-color: #f8585b;
    border: none;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    

}
.controlButton:hover{
    background-color: red;
}